.App {
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Centre {
  display: "flex";
  flex: 1;
  justify-content: "center";
  align-items: "center";
}
